**/.vscode/*
**/*.exe
**/*.o
Software/data/*
Software/visualiser/*
!Software/visualiser/Vis_SFML/Vis_SFML.cpp
!Software/visualiser/python/plot.py
Src/IP/mu_mult/*
!Src/IP/mu_mult/mu_mult.xci
Vivado/*
Images/*
Resources/*
Backup/*
pat.txt
Notes/*
!Notes/*.md
Software/__pycache__/*
